div(ng-controller='NavbarCtrl')
  md-toolbar.md-small.navbar
    .md-toolbar-tools
      span
        | My App's Title
      span(flex)
      md-button
        ng-md-icon(icon="menu",style="fill: white",size="32px")
