container(layout="column",flex)
  div(ng-include='"components/navbar/navbar.html"')
  section(layout="row",flex,layout-align="center start")
    contacts(ng-include='"components/contacts/contacts.html"',flex)
    dump(ng-include='"components/dump/dump.html"',flex)
    wells(ng-include='"components/wells/wells.html"',flex)
